footer p{
    font-size: 16px;
     color: grey; 
}

footer h5{
      font-size: 16px;
       color: #5E5453; 
       
  }

footer .container{
      width: 80%;
      display:flex;
      justify-content: space-between;
      margin: auto auto;
      margin-top: 150px;
      margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
      footer .container{
            display: block;
            margin-top: 120px;
            margin-bottom: 100px;
      } 
      footer h5{
            margin-top: 20px;
      }
}
 